body {
  /* background: url("background-new-4k.webp") no-repeat center center fixed; */
  position: relative;
  background-color: transparent;
  background-size: cover;
  overflow: hidden;
  font-family: "Rokkitt", serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

body::before {
  background: url("background-placeholder.webp") no-repeat center center fixed;
  background-size: cover;
  content: "";
  position: absolute;
  inset: 0;
  filter: blur(2px);
  transform: scale(1.1);
  z-index: -1;
  transition: opacity 0.5s;
  opacity: 1;
}

body.loaded::before {
  opacity: 0;
}

.text-outer-container {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-top: 0.5rem solid #fff;
  border-bottom: 0.5rem solid #fff;
  width: 36rem;
  height: 24rem;
  text-align: center;
  display: table;
}

.text-inner-container {
  display: table-cell;
  vertical-align: middle;
}

.text-title {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.text-subtitle {
  font-size: 1.25rem;
  font-weight: 300;
}

.text-content {
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: 300;
}

img {
  margin: 1rem;
  height: 2.25rem;
}

@media (max-width: 600px), (max-height: 400px) {
  .text-outer-container {
    width: 24rem;
    height: 16rem;
  }
  .text-title {
    font-size: 3.5rem;
  }
  .text-subtitle {
    font-size: 1rem;
  }
  .text-content {
    margin-top: 1rem;
  }
}

footer {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
}

.text-content > a {
  color: rgba(255, 255, 255, 1);
  margin: 0 0.5rem;
}

footer > a {
  color: rgba(255, 255, 255, 0.45);
}
